/* universal selector to CSS reset */
*, 
x::after,
x::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1rem is
    font-size: 62.5%;
}

/* define the document wide styles */
body {
    box-sizing: border-box;    
}
